body {
	font-family: Cambria, Georgia, serif;
}

nav {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2b2741;
	color: #e7f7f4;
	overflow-x: hidden;
	padding: 20px 10px;
	border-right: 7px solid #8febd5;
	box-shadow: 7px 0px 0 #e7f7f4;
}

nav h1, nav h2, nav h3 {
	color: #8febd5;
}

.main {
	margin-left: 340px;
}

.row {
	display: flex;
}

#profile {
	width: 85%;
}

section {
	width: 40%;
	min-width: 350px;
	margin: 0px 20px;
}

section div {
	padding-top: 0px;
	padding-bottom: 25px;
}

section p {
	margin: 3px auto;
}

h2 {
	margin-top: 25px;
	margin-bottom: 10px;
	color: #2b2741;
}

h3 {
	margin-top: 3px;
	margin-bottom: 3px;
	color: #2b2741;
}

a {
	color: #8febd5;
}

.card {
	border-left: 2px solid #2b2741;
	position: relative;
}

.card::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	padding: 0;
	margin: 0;
	top: 8px;
	left: -10px;
	background-color: #8febd5;
}

.card::after {
    width: 0px;
    height: 0px;
    background: #fff;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 7px solid white;
    border-right: 7px solid white;
    border-left: 7px solid #2b2741;
    border-bottom: 7px solid #2b2741;
}

.card h3 {
	color: #8febd5;
	background-color: #2b2741;
	padding: 4px 10px 4px 10px;
}

.card p {
	padding-left: 10px;
}
